.text-center {
    text-align: center;
  }

.text-right{
  text-align: right;
  display: inline;
}


  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: black;
  }
  
  li {
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  
  header{
    background-color:turquoise;
    position: fixed;
    top: 0;
    width: 100%
  }

  footer{
    background-color:purple;
    color: white;
  }

  main{
    padding: 10px;
    margin-top: 50px;
  }


li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}